* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
/* Cart.module.css */

.container {
  text-align: center;
  margin-top: 20px;
}

.contenedorcart {
  margin: 20px;
}

.total {
  margin-top: 10px;
  font-size: 18px;
}

.button {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
